%h1='イベント管理ページ'

%div
  %p='イベント名'
  =@event.name
  %p='説明'
  =@event.description

  %p='日程'

  %table
    %thead
      %tr
        %th='日程'
        -@event.members.each do |member|
          %th=member.name
    %tbody
      -@event.schedules.each_with_index do |schedule, i|
        %tr
          %td=schedule.date_time
          -@event.members.each do |member|
            %td=member.member_schedules[i].enabled
