%h1='イベント新規作成'

=form_tag action: :create do
  %div
    %p='イベント名'
    =text_field_tag 'event[name]'
    %p='説明'
    =text_area_tag 'event[description]'
    %p='日程'
    =text_area_tag 'date_times'

  =submit_tag 'イベント作成'
