%h1='イベントページ'

%div
  %p='イベント名'
  =@event.name
  %p='説明'
  =@event.description

  =form_for [@event, @member], :url => {controller: 'members', action: 'create', event_access_token: @event.access_token} do |f|
    %p='名前'
    =f.text_field :name
    %p='コメント'
    =f.text_field :comment
    =f.hidden_field :event_id, value: @event.id

    %p='候補'
    %table
      %thead
        %tr
          %th='日程'
          %th
      %tbody
      -@member.member_schedules.each do |member_schedule|
        %tr
          %td=member_schedule.schedule.date_time
          %td
            =f.fields_for 'member_schedules_attributes[]', member_schedule do |mf|
              =mf.hidden_field :schedule_id, value: member_schedule.schedule.id
              =mf.select :enabled, [['✕', false], ['◯', true]]

    =f.submit 'イベント作成'