.row
  %h2='面接のURL忘れた方はこちら'
  %p{:style => "color:red"}
    #{flash[:alert]}

=form_tag action: :validate do
  .row
    %h4='候補者用URL'
    %p.sub-text.small-text='候補者用ページのURLを入力してください'
    =text_field_tag 'event[url]'

  .row
    %h4='パスワード'
    %p.sub-text.small-text='面接ページに設定したパスワードを入力してください'
    =password_field_tag 'event[password]'

  .row
    =submit_tag '面接ページを表示する', :class => 'btn-accent btn_large'
